@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.grey-background {
  background-color: #f6f6f6 !important;
}

.header-wrapper {
  background-color: #ffffff;
  width: 620px;
}

.footer-wrapper {
  background-color: #f6f6f6;
  width: 620px;
}

.search-header {
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #0085ad;

  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 20px;
  }
}

.updated {
  font-size: 16px;
  color: #7f8e9b;
  line-height: 2;
}

.updated-number {
  display: inline-block;
  line-height: 1;
  font-size: 36px;
  font-weight: bold;
  color: #566069;
  padding-left: 8px;
}

.date {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  color: #566069;

  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 16px !important;
    line-height: 22px !important;
  }
}

.contacts-header {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #566069;
}

.contacts {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #566069;
}

.location {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.39;
  color: #566069;
}

.price {
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #59636b;
  // padding-left: 130px;
}

.adress {
  font-family: Lato, sans-serif;
  font-size: 16px;
  margin: 2px 0;
  letter-spacing: -0.4px;
  color: #7f8e9b;
}

.district {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: normal;
  color: #bcc8d2;
  // padding-left: 130px;
}

.question {
  padding: 10px 0 10px 15px;
  border-left: 3px solid #db4336;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  color: #566069;
  // max-width: 360px;
}

.vertical-line {
  display: inline-block;
  width: 3px;
  height: 15px;
  background-color: #db4336;
}

.question-header {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #566069;
}

.question-date {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: normal;
  color: #7f8e9b;
  line-height: 24px;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #4a90e2;
  border-radius: 50%;
  float: right;

  p {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    line-height: 38px;
  }

  @media only screen and (max-width: #{$global-breakpoint}) {
    width: 32px;
    height: 32px;

    p {
      font-size: 14px;
      line-height: 32px;
    }
  }
}

.contact-header {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: normal;
  color: #7f8e9b;
}

h1,
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #566069;

  @media only screen and (max-width: #{$global-breakpoint}) {
    &.sub-header {
      font-size: 16px !important;
    }
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #7f8e9b;
}

a {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0px;
  color: #299cbd;
  text-decoration: none;

  &:hover {
    color: darken(#299cbd, 10%);
  }
}

.logo {
  width: 136px !important;
  height: 44px !important;
}

.logo-container {
  @media only screen and (max-width: #{$global-breakpoint}) {
    background-color: #f6f6f6;
  }
}

hr {
  display: inline-block;
  width: 42%;
  height: 1px;
  color: #e0e9f0;
  background-color: #e0e9f0;
  border: none;
}

span {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #566069;
}

.link {
  font-weight: normal;
  color: #0085ad;

  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 14px
  }

  @media only screen and (min-width: #{$global-breakpoint}) {
    font-size: 16px
  }
}

.line {
  color: #7f8e9b;
  margin: 0 3px;
}

.or {
  margin: 0 10px;
}

.new-listings {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #566069;
  position: relative;
  bottom: 4px;
}

.open-house {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #566069;
  margin-left: 8px;
}

.status {
  padding: 1px 10px;
  font-family: Lato, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 1px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.status-red {
  background-color: #e1523d;
}

.status-blue {
  background-color: #0085ad;
}

.house-price {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: 0.6px;
  color: #1c262e;
}

.house-adress {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7f8e9b;
}

.house-area {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bcc8d2;
}

.house-img {
  width: 100% !important;
  height: auto;
}

.buttons {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 44px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  border-radius: 1px;
  border: solid 1px #e1523d;
  padding: 13px 0;
  box-sizing: border-box
}

.white-button a {
  color: #e1523d !important;
  background-color: #ffffff !important;
  text-decoration: none;
}

.main-button {
  width: 337px;
  height: 45px;
  color: #ffffff;
  background-color: #e1523d;
  transition: all 0.5s ease-out;

  &:hover {
    color: #e1523d;
    background-color: #ffffff;
  }

}

.feature-icon {
  background-repeat: no-repeat;
  background-position: top 6px right 0px;
  display: inline-block;
  height: 35px;
  width: 32px;
  margin-right: 15px;
}

.features {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #7f8e9b;
}

.open-house-header {
  font-size: 18px;
  font-weight: normal;
}

.open-hause-with-backgrounde {
  padding: 10px 0 0 10px;
  display: inline-block;
  height: 174px;
  width: 327px;
  background-image: url(https://s3.amazonaws.com/ra-static-email/house-img.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon {
  margin-right: 10px;
}

.signature-container {
  border-radius: 1px;
  background-color: #f4f5f6 !important;

  h1 {
    line-height: 1;
    color: #1c262e;
  }

  span {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #515e68;

    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 16px !important;
    }
  }

  .logo {
    height: 30px !important;
    width: 90px !important;
  }

  .photo-container {
    height: 88px;
    width: 88px;
    border-radius: 50%;
    border: 2px solid #e1523d;
    background-image: url(https://public.realtyaustin.com/agents/jonathan@realtyaustin.com/jonathan@realtyaustin.com-headshot-transparent.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media only screen and (max-width: #{$global-breakpoint}) {
      height: 56px !important;
      width: 56px !important;
    }
  }

  .phone, .email {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7f8e9b;
    margin-right: 10px;

    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 16px !important;
    }
  }

  .contacts {
    @media only screen and (max-width: #{$global-breakpoint}) {
      display: none;
    }
  }

  .contacts-2 {
    @media only screen and (min-width: #{$global-breakpoint}) {
      display: none;
    }
  }

  .email-text {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #515e68;
    text-decoration: none;

    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 16px !important;
    }
  }

  .trademark {
    color: #7f8e9b;
    font-size: 14px;

    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 12px !important;
    }
  }

  .menu {
    max-width: 250px !important;
  }

  table.menu th.menu-item {
    padding: 0;
    padding-right: 10px;

    @media only screen and (max-width: #{$global-breakpoint}) {
      padding-right: 20px !important;
    }
  }

  .horizontal-line {
    height: 112px;
    width: 1px;
    background-color: #bcc8d2;
    margin-left: 30px;

    @media only screen and (max-width: #{$global-breakpoint}) {
      display: none !important;
    }
  }

  .vertical-line {
    height: 1px;
    width: 100%;
    background-color: #bcc8d2;
    margin: 15px 0;

    @media only screen and (min-width: #{$global-breakpoint}) {
      display: none !important;
    }
  }
}