<row class="listing-item">

  <columns small="12" large="2"></columns>

  <columns small="12" large="8">

    <a href="#" class="listing-link">
      <span class="status {{status-color}}">{{status-text}}</span>
      <img src="https://s3.amazonaws.com/ra-static-email/house-img.jpg" class="listing-photo" alt="home" width="361" height="192">
    </a>

    <spacer size="10"></spacer>

    <span class="label">PRICE DROP</span>

    <spacer size="10"></spacer>

    <p class="price">$608,000</p>

    <spacer size="5"></spacer>

    <p class="features">
      <span class="feature-icon" style="background-image: url(https://s3.amazonaws.com/ra-static-email/bed.png);"></span>
      2-4 bds
      <span class="feature-icon" style="background-image: url(https://s3.amazonaws.com/ra-static-email/bath.png);"></span>
      2+ bds
      <span class="feature-icon" style="background-image: url(https://s3.amazonaws.com/ra-static-email/sqft.png);"></span>
      1,845 sq ft
    </p>

    <spacer size="5"></spacer>

    <p class="house-adress">2710 Benevento Way, Cedar Park, TX 78613</p>

    <spacer size="5"></spacer>

    <p class="house-area">Westlake Hills</p>

  </columns>

  <columns small="12" large="2"></columns>

</row>