<row class="listing-item">

  <columns small="12" large="2" class="hide-on-mobile"></columns>

  <columns small="12" large="8">

    <a href="#" class="listing-link">
      <img src="https://s3.amazonaws.com/ra-static-email/house-img.jpg" class="listing-photo" alt="home" width="361" height="192">

      <spacer size="8"></spacer>

      <p class="status-container">
        <img class="float-left" src="https://s3.amazonaws.com/ra-static-email/ra.png" alt="ra-logo" height="16" width="23">
        <span class="status {{status-color}}">{{status-text}}</span>
        <span class="status status-white status-text-blue">Active</span>
      </p>
    </a>

    <spacer size="8"></spacer>

    <p class="price">$608,000<span class="previous-price">{{previous-price}}</span></p>

    <spacer size="5"></spacer>

    <p class="features">
      <span class="feature-icon" style="background-image: url(https://s3.amazonaws.com/ra-static-email/bed.png);"></span>
      2-4 bds
      <span class="feature-icon" style="background-image: url(https://s3.amazonaws.com/ra-static-email/bath.png);"></span>
      2+ bds
      <span class="feature-icon" style="background-image: url(https://s3.amazonaws.com/ra-static-email/sqft.png);"></span>
      1,845 sq ft
    </p>

    <spacer size="5"></spacer>

    <p class="house-adress">2710 Benevento Way, Cedar Park, TX 78613</p>

    <spacer size="5"></spacer>

    <p class="house-area">Westlake Hills</p>

  </columns>

  <columns small="12" large="2" class="hide-on-mobile"></columns>

</row>